name: build-test

on:
  push:
    paths: ['*']

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc meson ninja libglib2.0-dev libgstreamer1.0-dev libgstreamer1.0
          meson build
	  ninja -C build
	  build/kmp	
